.header {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 50vh;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 10vh;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary;

    p {
        color: $color-white;
    }

    &__copyright {
        margin-right: 40px;
    }
}