* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    height: 8vh;
}

a {
    color: white;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 50px;
    text-decoration: none;
    
}

#logo {
    background-color: green;
    color: white;
    font-weight: 550;
    height: 8vh;
    width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

main {
    display: flex;
    justify-content: space-around;
}

div {
    border: 3px solid black;
    margin: 20px;
    padding: 20px;
    width: 850px
}

h1 {
    font-size: larger;
}

ul {
    margin-top: 20px;
}

li {
    margin: 10px;
}

#rightHalf {
    border: 3px solid black;
    margin: 20px;
    padding: 20px;
}

p {
    margin-top: 10px;
}