* {
    margin: 0;
}

nav {
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

div {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 50px;
}

#logo {
    background-color: green;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    height: 6vh;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}