* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    height: 8vh;
}

div {
    color: white;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 50px;
}

#logo {
    background-color: green;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    height: 8vh;
    width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

span {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    width: 62%;
    margin: 20px;
    padding: 20px;
}

h1 {
    font-size: large;
}

ul {
    padding-top: 10px;
}

li {
    padding: 5px;
}